@model KolejDenemeProjesi.Entities.Subeler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">Yeni Dönem Tanımlama Formu</span>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Create", "Subeler", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Şube Adı
                        <span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.SubeAdi, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                         Öğrenim Tipi
                        <span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(c=>c.OgrenimTip.Id,(SelectList)ViewBag.OgrenimTipleri as SelectList,new { @class="form-control",@id="OgrenimTips"})
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Sınıf Seviyesi
                        <span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-4" id="sinifseviyeleri">
                        
                    </div>
                </div>   
              
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Kaydet</button>
                        <a href="~/Admin/Subeler" class="btn warning">Vazgeç</a>
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>

</div>

@section scripts {
    
<script>
    $("#OgrenimTips").change(function () {
        var ogrenimtipid = $(this).val();
        $("#sinifseviyeleri").load("/Admin/Subeler/GetSeviyeList/" + ogrenimtipid);
    });
    </script>



}