
@{
    ViewBag.Title = "Öğrenci Kayıt";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed">
            <ul class="nav nav-tabs">
                <li class="">
                    <a href="#kisisel_bilgiler" data-toggle="tab" aria-expanded="false">Kişisel Bilgiler</a>
                </li>
                <li class="">
                    <a href="#aile_bilgileri" data-toggle="tab" aria-expanded="false">Aile/Veli Bilgileri</a>
                </li>
                <li class="">
                    <a href="#tab_5" data-toggle="tab" aria-expanded="false">Okul Bilgileri</a>
                </li>
                <li class="">
                    <a href="#tab_4" data-toggle="tab" aria-expanded="false">Giriş Bilgileri</a>
                </li>
              
                <li class="">
                    <a href="#tab_3" data-toggle="tab" aria-expanded="false">Hakkında</a>
                </li>       
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="kisisel_bilgiler">
                    <div class="portlet light bg-inverse">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase">Kişisel Bilgiler</span>
                                <span class="caption-helper">Ad,Soyad,TC,Doğum Tarihi vs ...</span>
                            </div>
                            <div class="tools">
                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                <a href="" class="reload" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                                <div class="form-body">
                                    <h3 class="form-section">Kişisel Bilgiler</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Ad</label>
                                                <input type="text" id="firstName" class="form-control" placeholder="Ad">
                                                <span class="help-block"> Bilgilendirme alanı ... </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">TC Kimlik Numarası</label>
                                                <input type="text" id="TC" class="form-control" placeholder="TC">
                                                <span class="help-block"> Bilgilendirme alanı ... </span>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-error">
                                                <label class="control-label">Soyad</label>
                                                <input type="text" id="lastName" class="form-control" placeholder="Soyad">
                                                <span class="help-block"> This field has error. </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Doğum Tarihi</label>
                                                <input type="text" class="form-control" placeholder="gg/aa/yyyy">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Cinsiyet</label>
                                                <select class="form-control">
                                                    <option value="">Erkek</option>
                                                    <option value="">Kız</option>
                                                </select>
                                                <span class="help-block"> Cinsiyet Seçiniz... </span>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Doğum Tarihi</label>
                                                <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    
                                    <!--/row-->
                                    <h3 class="form-section">Adres Bilgileri</h3>
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label>Sokak</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label>Mahalle</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>İl</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>İlçe</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Bina Adı/Numarası</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Daire</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->

                                </div>
                                <div class="form-actions right">
                                    <a class="btn btn-large blue" href="#aile_bilgileri" data-toggle="tab" aria-expanded="false">Sonraki Adım</a>
                                </div>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            <div class="tab-pane">
                <div class="col-md-6 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase">Anne Bilgileri</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                        İşlemler
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i> Ban
                                            </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;"> Make admin </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Ad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon input-circle-left">
                                                <i class="fa fa-use"></i>
                                            </span>
                                            <input type="text" class="form-control input-circle-right" placeholder="Ad">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Soyad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon input-circle-left">
                                                <i class="fa fa-use"></i>
                                            </span>
                                            <input type="text" class="form-control input-circle-right" placeholder="Soyad">
                                        </div>
                                    </div>
                                    @*-------------------------------------------*@
                                    <div class="form-group">
                                        <label>E-Mail</label>
                                        <div class="input-group">
                                            <span class="input-group-addon input-circle-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control input-circle-right" placeholder="E-mail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cep Telefonu</label>
                                        <div class="input-group">
                                            <span class="input-group-addon input-circle-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control input-circle-right" placeholder="Cep Telefonu">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>İş/Ev Telefonu</label>
                                        <div class="input-group">
                                            <span class="input-group-addon input-circle-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control input-circle-right" placeholder="İş/Ev">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Meslek</label>
                                        <div class="input-group">
                                            <span class="input-group-addon input-circle-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control input-circle-right" placeholder="Meslek">
                                        </div>
                                    </div>


                                </div>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
                <div class="col-md-6 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase">Baba Bilgileri</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                        İşlemler
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i> Ban
                                            </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;"> Make admin </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Ad</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-use"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Ad">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Soyad</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-use"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Soyad">
                                    </div>
                                </div>
                                @*-------------------------------------------*@
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Cep Telefonu</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Cep Telefonu">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>İş/Ev Telefonu</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="İş/Ev">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Meslek</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Meslek">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
            </div>
            <div class="tab-pane">
                <div class="tab-pane active" id="okul_bilgileri">
                    <div class="portlet light bg-inverse">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase">Okul Bilgileri</span>
                                <span class="caption-helper">Okul No,Sınıf,Şube ...</span>
                            </div>
                            <div class="tools">
                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                <a href="" class="reload" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-body">
                                <h3 class="form-section">Kayıt Bilgileri</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Öğrenim Tipi</label>
                                            <select class="form-control" data-placeholder="Öğrenim Tipi Belirleyiniz..." tabindex="1">
                                                <option value="Category 1">Anaokulu</option>
                                                <option value="Category 2">İlkokul</option>
                                                <option value="Category 3">Lise</option>
                                                <option value="Category 4">Kurs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Sınıf Seviyesi</label>
                                            <select class="form-control" data-placeholder="Öğrenim Tipi Belirleyiniz..." tabindex="1">
                                                <option value="Category 1">1</option>
                                                <option value="Category 2">2</option>
                                                <option value="Category 3">3</option>
                                                <option value="Category 4">4</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şube</label>
                                            <select class="form-control" data-placeholder="Öğrenim Tipi Belirleyiniz..." tabindex="1">
                                                <option value="Category 1">A</option>
                                                <option value="Category 2">B</option>
                                                <option value="Category 3">C</option>
                                                <option value="Category 4">D</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Okul Numarası</label>
                                            <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>

                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <!--/row-->
                                <h3 class="form-section">Burs</h3>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label">Burs Tipi</label>
                                            <select class="form-control" data-placeholder="Öğrenim Tipi Belirleyiniz..." tabindex="1">
                                                <option value="Category 1">Anaokulu</option>
                                                <option value="Category 2">İlkokul</option>
                                                <option value="Category 3">Lise</option>
                                                <option value="Category 4">Kurs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Burs Miktarı</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Açıklama</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <a class="btn btn-large blue" href="#aile_bilgileri" data-toggle="tab" aria-expanded="false">Sonraki Adım</a>
                            </div>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

