@model KolejDenemeProjesi.Web.ViewModels.InfoViewModel


<div class="note note-info">
    <h4 class="block">@Model.Header!</h4>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item</li>
        }
    </ul>
</div>